{{!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> --}}
<!-- boardingRecords.hbs -->
<head>
    <meta charset="UTF-8">
    <title>Manage Boarding Records</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- Reference the CSS file from the public folder -->
    <link rel="stylesheet" href="/styles.css">
</head>

<nav>
        <div>
            <button><a href="../">Home</a></button>
            <button><a href="../passengers.html">Manage Passengers</a></button>
            <button><a href="transportStations.html">Manage Transport Stations</a></button>
            <button><a href="../trains.html">Manage Trains</a></button>
            <button><a href="../routes.html">Manage Routes</a></button>
            <button class = "selectedPage"><a href="./boardingRecords.html">Manage Boarding Records</a></button>
            <button><a href="../tickets.html">Manage Tickets</a></button>
            <button><a href="../stationRoutes.html">Manage Station Routes</a></button>
            <button><a href="../stationTrains.html">Manage Station Trains</a></button>
        </div>
</nav>



{{!-- Create a table --}}
<h1>View Boarding Records</h1>
<table id = "boardingRecords-table" border="1">
    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.BoardingRecordID}}</td>
            <td>{{this.PassengerID}}</td>
            <td>{{this.FirstName}}</td>
            <td>{{this.LastName}}</td>
            <td>{{this.TrainID}}</td>
            <td>{{this.TrainName}}</td>
            <td>{{this.TrainType}}</td>
            <td>{{this.StationID}}</td>
            <td>{{this.StationName}}</td>
            <td>{{this.BoardingTime}}</td>
            <td><button onclick="deleteBoardingRecord({{this.BoardingRecordID}})">Delete</button></td>

        </tr>
        {{/each}}
    </tbody>
</table>
<script src="../public/js/delete_boardingRecord.js"></script>
 <div>
        <h2>Add Boarding Record</h2>
        <form id="addBoardingRecordForm" method="POST" action="/add-boardingRecord-form">
            <label for="addPassengerId">Passenger ID: </label>
            <select name="passengerId" id="addPassengerId" required>
            <option value="">Select a Passenger ID</option>
            {{#if passengers}}
                {{#each passengers}}
                    <option value="{{this.PassengerID}}">(ID: {{this.PassengerID}}) {{this.FirstName}} {{this.LastName}}</option>
                {{/each}}
            {{else}}
                <option value="" disabled>No passenger available</option>
            {{/if}}
            </select>
            <br><br>
            <label for="addTrainId">Train ID: </label>
            <select name="trainId" id="addTrainId" required>
            <option value="">Select a Train ID</option>
            {{#if trains}}
                {{#each trains}}
                    <option value="{{this.TrainID}}">(ID: {{this.TrainID}}) {{this.TrainName}}</option>
                {{/each}}
            {{else}}
                <option value="" disabled>No train available</option>
            {{/if}}
            </select>
            <br><br>
            <label for="addStationId">Station ID: </label>
            <select name="stationId" id="addStationId" required>
            <option value="">Select a Station ID</option>
            {{#if stations}}
                {{#each stations}}
                    <option value="{{this.StationID}}">(ID: {{this.StationID}}) {{this.StationName}}</option>
                {{/each}}
            {{else}}
                <option value="" disabled>No station available</option>
            {{/if}}
            </select>
            <br><br>

            <label for="boardingTime">Boarding Time:</label>
            <input type="datetime-local" id="boardingTime" name="boardingTime" required><br><br>

            <button type="submit">Add Boarding Record</button>
        </form>

</div>

<h2>Updating A Boarding Record</h2>
<p>To update a specific boarding record, select the boarding record ID from the drop-down menu on the left and update the boarding details on the right.</p>
<form id="updateBoardingRecordForm">

    <label for="updateBoardingRecordId">Boarding Record ID: </label>
    <select name="updateBoardingRecordId" id="updateBoardingRecordId" required>
    <option value="">Select a Boarding Record</option>
    {{#if boardingRecords}}
        {{#each boardingRecords}}
            <option value="{{this.BoardingRecordID}}">(ID: {{this.BoardingRecordID}})</option>
        {{/each}}
    {{else}}
        <option value="" disabled>No boarding records available</option>
    {{/if}}
    </select>
    <br><br>

        <label for="updatePassengerId">Passenger ID: </label>
        <select name="updatePassengerId" id="updatePassengerId" required>
        <option value="">Select a Passenger ID</option>
        {{#if passengers}}
            {{#each passengers}}
                <option value="{{this.PassengerID}}">(ID: {{this.PassengerID}}) {{this.FirstName}} {{this.LastName}}</option>
            {{/each}}
        {{else}}
            <option value="" disabled>No passenger available</option>
        {{/if}}
        </select>
        <br><br>
        <label for="updateTrainId">Train ID: </label>
        <select name="updateTrainId" id="updateTrainId" required>
        <option value="">Select a Train ID</option>
        {{#if trains}}
            {{#each trains}}
                <option value="{{this.TrainID}}">(ID: {{this.TrainID}}) {{this.TrainName}}</option>
            {{/each}}
        {{else}}
            <option value="" disabled>No train available</option>
        {{/if}}
        </select>
        <br><br>
        <label for="updateStationId">Station ID: </label>
        <select name="updateStationId" id="updateStationId" required>
        <option value="">Select a Station ID</option>
        {{#if stations}}
            {{#each stations}}
                <option value="{{this.StationID}}">(ID: {{this.StationID}}) {{this.StationName}}</option>
            {{/each}}
        {{else}}
            <option value="" disabled>No station available</option>
        {{/if}}
        </select>
        <br><br>

    <label for="newBoardingTime">New Boarding Time: </label>
    <input type="datetime-local" id="newBoardingTime" name="newBoardingTime" required><br><br>

    <button type="submit">Update Boarding Record</button>
</form>

<script src="../public/js/update_boardingRecord.js"></script>
