{{!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> --}}
<!-- index.hbs -->
<head>
    <meta charset="UTF-8">
    <title>Manage Trains</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- Reference the CSS file from the public folder -->
    <link rel="stylesheet" href="/styles.css">
</head>

<nav>
        <div>
            <button><a href="../">Home</a></button>
            <button><a href="../passengers.html">Manage Passengers</a></button>
            <button><a href="transportStations.html">Manage Transport Stations</a></button>
            <button class = "selectedPage"><a href="../trains.html">Manage Trains</a></button>
            <button><a href="../routes.html">Manage Routes</a></button>
            <button><a href="./boardingRecords.html">Manage Boarding Records</a></button>
            <button><a href="../tickets.html">Manage Tickets</a></button>
            <button><a href="../stationRoutes.html">Manage Station Routes</a></button>
            <button><a href="../stationTrains.html">Manage Station Trains</a></button>
        </div>
</nav>



{{!-- Create a table --}}
<h1>View Trains</h1>
<table id = "trains-table" border="1">
    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each trains.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each trains}}
        <tr>
            <td>{{this.TrainID}}</td>
            <td>{{this.RouteID}}</td>
            <td>{{this.TrainName}}</td>
            <td>{{this.TrainType}}</td>
            <td>{{this.Capacity}}</td>
            <td><button onclick="deleteTrain({{this.TrainID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="../public/js/delete_train.js"></script>
<div id="form-container">
 <div class = "form-box">
        <h2>Add Train</h2>
        <form id="addTrainForm" method="POST" action="/add-train-form">
        <label for="RouteId">Route ID: </label>
            <select name="RouteID" id="addRouteId">
            <option value="">Select a Route ID</option>
            {{#if routes}}
                {{#each routes}}
                    <option value="{{this.RouteID}}">{{this.RouteID}}</option>
                {{/each}}
            {{else}}
                <option value="" disabled>No routes available</option>
            {{/if}}
            </select><br><br>
            <label for="trainName">Train Name:</label>
            <input type="text" id="trainName" name="TrainName" required><br><br>

            <label for="trainType">Train Type:</label>
            <input type="text" id="trainType" name="TrainType" required><br><br>

            <label for="capacity">Capacity:</label>
            <input type="text" id="capacity" name="Capacity" required><br><br>

            <button type="submit">Add Train</button>
        </form>
    </div>

    <div class ="form-box">
    <h2>Updating A Train</h2>
<p>To update a specific train, select the train ID from the drop-down menu on the left and update the train details on the right.</p>
<form id="updateTrainForm">

    <label for="updateTrainId">Train ID: </label>
    <select name="updateTrainId" id="updateTrainId">
    <option value="">Select a Train</option>
    {{#if trains}}
        {{#each trains}}
            <option value="{{this.TrainID}}">{{this.TrainID}}</option>
        {{/each}}
    {{else}}
        
        <option value="" disabled>No trains available</option>
    {{/if}}
</select>
<br><br>
    <label for="updateRouteId">Route ID: </label>
            <select name="RouteID" id="updateRouteId">
            <option value="">Select a Route ID</option>
            {{#if routes}}
                {{#each routes}}
                    <option value="{{this.RouteID}}">{{this.RouteID}}</option>
                {{/each}}
            {{else}}
                
                <option value="" disabled>No routes available</option>
            {{/if}}
            </select><br><br>

    <label for="newTrainName">New Train Name: </label>
    <input type="text" id="newTrainName" name="newTrainName"><br><br>

    <label for="newTrainType">New Train Type: </label>
    <input type="text" id="newTrainType" name="newTrainType"><br><br>

    <label for="newCapacity">New Capacity: </label>
    <input type="text" id="newCapacity" name="newCapacity"><br><br>

    <button type="submit">Update Train</button>

</form>
</div>
</div>

<script src="../public/js/update_train.js"></script>